
main{
    width: 65%;
    height: max-content;   
}

.form{
    width: 100%;
    height: 343px;
    border-radius: 4px;
    background-color: transparent;
}


.form > form{
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
}

/*articles*/

.box-article{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    background-color: transparent;
  
}



/*buttons*/

.buttons{
    width: 100%;
}




/*ASIDE*/
aside{
    width: 30%;
    height: max-content;
   
}

