.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 1.75rem 0;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: var(--color-grey-1);
    color: var(--color-white);
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    padding: 0 6.25rem;
}

.navbar-links{
    display: flex;
    gap: 1rem;
}

.navbar-link{
    background-color: transparent;
    color: var(--color-white-fixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    border-color: var(--color-grey-1);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
}