.gap {
  gap: var(--gap-1);
}

.gap-1{
  gap: var(--gap-3);
}
.gap-2 {
  gap: var(--gap-5);
}

.padding {
  padding: 16px;
}

.padding-rigth {
  padding-right: 16px;
}

.mr {
  margin-right: 16px;
}

.mt {
  margin-top: 16px;
}

.margin-header {
  margin-top: 80px;
}

.margin-center {
  margin: 0 auto;
}