.gap {
  gap: 16px;
}

.gap-2 {
  gap: 32px;
}

.padding {
  padding: 16px;
}

.padding-rigth {
  padding-right: 16px;
}

.mr {
  margin-right: 16px;
}

.mt {
  margin-top: 16px;
}

.margin-header {
  margin-top: 80px;
}

.margin-center {
  margin: 0 auto;
}